[DEVICE]
Name=P32MX795F512L
Clock=80000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_GNSS2_PIC32.c
[HEADERS]
Count=3
File0=Click_GNSS2_timer.h
File1=Click_GNSS2_config.h
File2=Click_GNSS2_types.h
[PLDS]
Count=1
File0=Click_GNSS2.pld
[Useses]
File0=GNSS2_P32MX
File1=UART
File2=C_String
File3=easypicfusion_v7_P32MX795F512L
Count=4
