[DEVICE]
Name=TM4C129XNCZAD
Clock=120000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_GNSS2_TIVA.c
[HEADERS]
Count=3
File0=Click_GNSS2_timer.h
File1=Click_GNSS2_config.h
File2=Click_GNSS2_types.h
[PLDS]
Count=1
File0=Click_GNSS2.pld
[Useses]
File0=GNSS2_TIVA_M4
File1=UART
File2=C_String
File3=easymx_v7_TM4C129XNCZAD
Count=4
