[DEVICE]
Name=P18F87K22
Clock=64000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_GNSS2_PIC.c
[HEADERS]
Count=3
File0=Click_GNSS2_timer.h
File1=Click_GNSS2_config.h
File2=Click_GNSS2_types.h
[PLDS]
Count=1
File0=Click_GNSS2.pld
[Useses]
File0=GNSS2_P18
File1=UART
File2=C_String
File3=easypicpro_v7_P18F87K22
Count=4
